@model mvc_stok_2.Models.Entity.TBLSATISLAR

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
    satış yap
</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">satış yapma ekranı</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün adı
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri adı soyadı
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Satışı yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç-İptal</button>

                </div>
            </form>
        </div>
    </div>
</div>

